Source: elm-misc
Section: devel
Priority: optional
Maintainer: Jaehwan Kim <jae.hwan.kim@samsung.com>, Seokjae Jeong <seok.j.jeong@samsung.com>
Uploaders: ChunEon Park <chuneon.park@samsung.com>, Juyung Seo <juyung.seo@samsung.com>, WooHyun Jung <wh0705.jung@samsung.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.3
Homepage: N/A

Package: elm-misc
Section: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: elementary configuration files.
